<a href="https://colab.research.google.com/github/anki009/CeptonRound1Problems/blob/main/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem** **1**

In [2]:
lt=[]
for d in range(1,50):
  for c in range(1,50):
    for b in range(1,50):
      for a in range(1,50):
        if(a<=b and b<=c and c<=d):
          num1=a*b*c*d
          num2=(b*c*d)+(a*c*d)+(a*b*d)+(a*b*c)
          if (num1==num2):
            lt.append(a)
            lt.append(b)
            lt.append(c)
            lt.append(d)
            answer=tuple(lt)
            print(answer)
            lt=[]

(4, 4, 4, 4)
(3, 4, 4, 6)
(3, 3, 6, 6)
(2, 6, 6, 6)
(2, 4, 8, 8)
(2, 5, 5, 10)
(3, 3, 4, 12)
(2, 4, 6, 12)
(2, 3, 12, 12)
(2, 3, 10, 15)
(2, 3, 9, 18)
(2, 4, 5, 20)
(2, 3, 8, 24)
(2, 3, 7, 42)